

.Body{
  background-color: rgb(128, 216, 27); 
  padding: 20px; 
  margin: 0;
  position: bottom;
  width: 100%;
  height: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  bottom: 0; 
}
p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
