<div class="bodycolor">
<h2>Available Trains</h2>

<label for="site-search">Search here by your departure</label>
<input type="search" [(ngModel)]="searchInput.startStation">

<button>Search</button>
<table class= "table table-striped">
    <thead>
        <tr>
            <th>TrainId</th>
            <th>TrainName</th>
            <th (click)="sort('startStation')">Departure</th>
            <th>Destination</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let train of trains | filterBy:searchInput">
            <td> {{ train.trainid }}</td>
            <td> {{ train.trainName }}</td>
            <td> {{ train.startStation }}</td>
            <td> {{ train.endStation }}</td>
        </tr>
    </tbody>
</table>
</div>