<div class="body">
<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3" >
                <div class="container text-center" >
                    <img class="img-fluid" style="width:150px" src="https://icon-library.com/images/admin-login-icon/admin-login-icon-1.jpg" alt="">
                </div>
            <h1 class="text-center">Admin Signup</h1>
            
            <!-- form creation -->
                <form (ngSubmit)="onSubmits()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="credential.username"
                        required 
                        name="username"
                        type="text" matInput/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="credential.password"
                        required 
                        name="username"
                        type="password" matInput/>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="Dark">Signup</button>
                        <button style="margin-left: 10px;" type="reset" mat-raised-button color="Dark">Reset</button>
                    </div>
                </form>
                <br>
<!--                 <p class="mt" >{{credentials | json}}</p>
 -->        </div>
    </div>
    </div>
</div>
    
</div>

